*{
    font-family: 'Roboto-Regular', sans-serif; /* Шрифт по умолчанию для футера */
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 94px;
  }
  
  /* Адаптивность для экранов меньше 768px */
  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Размещаем элементы друг под другом */
      padding: 20px; /* Уменьшаем отступы */
    }
  
    .title {
      margin-bottom: 10px; /* Добавляем отступ снизу текста */
    }
  }
  
  .title {
    font-size: 25px;
  }


  .line-container {
    display: flex;
    justify-content: center; /* Центрируем линию по горизонтали */
  }
  
  .line {
    width: 1734px;
    height: 1px;
    background-color: black;
  }
  
  /* Адаптивность */
  @media (max-width: 1734px) {
    .line {
      width: 80%;
    }
  }



  .container-move{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 94px;
  }
  
  .movie-poster {
      display: flex;
      flex-direction: column; /* Расположение по столбцу на маленьких экранах */
      align-items: center; /* Центрирование по горизонтали */
  }
  
  .movie-poster img {
      width: 100%; 
      max-width: 250px; /* Максимальная ширина изображения */
      height: auto;
      margin-bottom: 20px; 
  }
  
  .movie-info {
      text-align: center; /* Центрирование текста */
  }
  
  /* Стили для разных размеров экрана */
  @media (min-width: 768px) {
      .movie-poster {
          flex-direction: row; /* Расположение по строке на больших экранах */
          align-items: flex-start; /* Выравнивание по верхней границе */
      }
  
      .movie-poster img {
          margin-bottom: 0; 
          margin-right: 20px;
          width: 50%; 
      }
  
      .movie-info {
          text-align: left; /* Выравнивание текста по левому краю */
      }
  }
  
  /* Остальные стили */
  .title-move {
      font-weight: bold;
      margin-bottom: 5px;
      padding: 0 0 25px 0;
  }
  
  .duration {
      margin-bottom: 5px;
      color: #737373;
      padding: 0 0 25px 0;  
  }

  .notification{
    background-color: #D9D9D9; 
    padding: 10px; 
    margin: 5px;
    text-align: center;
    border-radius: 5px; 
    transition: all 0.3s ease; 
    overflow: hidden; /* Скрываем текст, выходящий за пределы */
    position: relative; /* Добавляем позиционирование для дочерних элементов */
    width: 199px;
  }
  .notification:hover {
    background-color: #F42048;
    color: white;
    cursor: pointer;
  }

  .line {
    height: 1px;
    background-color: #A3A3A3;
    margin: 0 auto; 
    max-width: 90%; /* Максимальная ширина 90% */
  }